.collapse
  .panel-container
    border                1px solid #ccc
    background-color       #f7f7f7


    .panel-show, .panel-add
      background-color     #ffffff
      padding               20px


    .actions
      padding             20px
      border-top          1px dotted #ccc

:host /deep/ .data-table-row {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}