:host
  display                           flex
  background-color                  $color-very-light-grey
.wrapper
  padding                           40px 0
  +at(1)
    padding                         20px 0
  overflow                          hidden // important: the button flying in from the side would otherwise create a scrollbar