@require  '../../../../assets/styles/typography.styl';
@require '../../../../assets/styles/variables.styl';
// MIXINS
input-placeholder()
  &::placeholder
    {block}
  &::-moz-placeholder
    {block}
  &::-webkit-input-placeholder
    {block}
  &:-ms-input-placeholder
    {block}


// SELECTORS
::ng-deep
  .baz-input-element[type=text]
  .baz-input-element[type=tel]
  .baz-input-element[type=email]
  .baz-input-element[type=password]
  .baz-input-element[type=number]
  .baz-input-element[type=date]
  select.baz-input-element
    width                 100%
    height                100%
    font-size             16px
    line-height           1.125
    box-sizing            border-box
    margin                0
    border                none
    outline-color         $color-dark-green
    font-family           $primary-font
    color                 $color-charcoal
    background-color      transparent
    padding               7px 11px

    &:disabled
      background-color      $color-very-light-grey
      cursor                no-drop

