$baz-font-path              = '/assets/fonts'

@font-face
  font-family                    'Roboto-Bold'
  src                            url($baz-font-path +'/Roboto-Bold.ttf') format('ttf')

@font-face
  font-family                    'Roboto-Regular'
  src                            url($baz-font-path + '/Roboto-Regular.ttf') format('ttf')

@font-face
  font-family                    'Roboto-Bold'
  src                            url($baz-font-path + '/Roboto-Bold.ttf') format('ttf')

@font-face
  font-family                    'Roboto-Light'
  src                            url($baz-font-path + '/Roboto-Light.ttf') format('ttf')

@font-face
  font-family                    'Roboto-Medium'
  src                            url($baz-font-path + '/Roboto-Medium.ttf') format('ttf')

