$color-cool-green     = #38b973
$color-dark-green     = #00744d
$color-charcoal       = #282828

$color-light-grey     = #f0f0f0
$color-very-light-grey = #f7f7f7
$color-dark-grey      = #e8eae8
$color-grey-border    = #d5d5d5
$color-white          = #fff

$color-error          = #eb4c5f